<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.mysteryApp"
    android:versionCode="1"
    android:installLocation="preferExternal"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <application
        android:icon="@drawable/deadend_sm"
        android:label="@string/gamename" >
        <activity
            android:name=".MysteryAppActivity"
            android:label="@string/gamename" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateChar"></activity>
        <activity android:name=".Help"></activity>
        <activity android:name=".Inventory"></activity>
        <activity android:name=".Leader"></activity>
        <activity android:name=".Load"></activity>
        <activity android:name=".LogbookA"></activity>
        <activity android:name=".Map"></activity>
        <activity android:name=".Menu"></activity>
        <activity android:name=".NewGame"></activity>
        <activity android:name=".Play"></activity>
        <activity android:name=".SaveQuit"></activity>
        <activity android:name=".MinesweeperActivity"></activity>
        <activity android:name="persons.activities.Ambassador"></activity>
        <activity android:name="locations.activities.AmbrosiaPlace"></activity>
        <activity android:name="persons.activities.Chancellor"></activity>
        <activity android:name="locations.activities.ConcordiaPlace"></activity>
        <activity android:name="persons.activities.Dictator"></activity>
        <activity android:name="locations.activities.DislexiaPlace"></activity>
        <activity android:name="locations.activities.EdenboroughPlace"></activity>
        <activity android:name="persons.activities.Emperor"></activity>
        <activity android:name="locations.activities.KeyserPlace"></activity>
        <activity android:name="persons.activities.King"></activity>
        <activity android:name="locations.activities.OrientPlace"></activity>
        <activity android:name="locations.activities.PacificaPlace"></activity>  
        <activity android:name="locations.activities.PeoriaPlace"></activity>
        <activity android:name="persons.activities.Pharaoh"></activity>
        <activity android:name="persons.activities.President"></activity>
        <activity android:name="persons.activities.PrimeMinister"></activity>
        <activity android:name="persons.activities.Queen"></activity>
        <activity android:name="locations.activities.ScimitarPlace"></activity>   
        <activity android:name="persons.activities.Sultan"></activity>     
        <activity android:name="locations.activities.WallabyPlace"></activity>
        <activity android:name="puzzles.PicturePuzzle"></activity>
        <activity android:name="puzzles.RiddlePuzzle"></activity>
        <activity android:name="persons.states.RiddeState"></activity>
        <activity android:name="persons.citizens.Gadin"></activity>
		<activity android:name="persons.citizens.activities.GadinActivity"></activity>
		<activity android:name="persons.citizens.Aadrika"></activity>
		<activity android:name="persons.citizens.activities.AadrikaActivity"></activity>
		<activity android:name="persons.citizens.Saaras"></activity>
		<activity android:name="persons.citizens.activities.SaarasActivity"></activity>
		<activity android:name="persons.citizens.Catherine"></activity>
		<activity android:name="persons.citizens.activities.CatherineActivity"></activity>
		<activity android:name="persons.citizens.Ryan"></activity>
		<activity android:name="persons.citizens.activities.RyanActivity"></activity>
		<activity android:name="persons.citizens.Bernette"></activity>
		<activity android:name="persons.citizens.activities.BernetteActivity"></activity>
		<activity android:name="persons.citizens.Gabrielle"></activity>
		<activity android:name="persons.citizens.activities.GabrielleActivity"></activity>
		<activity android:name="persons.citizens.Andre"></activity>
		<activity android:name="persons.citizens.activities.AndreActivity"></activity>
		<activity android:name="persons.citizens.Elizaveta"></activity>
		<activity android:name="persons.citizens.activities.ElizavetaActivity"></activity>
		<activity android:name="persons.citizens.Alexander"></activity>
		<activity android:name="persons.citizens.activities.AlexanderActivity"></activity>
		<activity android:name="persons.citizens.Mathew"></activity>
		<activity android:name="persons.citizens.activities.MathewActivity"></activity>
		<activity android:name="persons.citizens.Joshua"></activity>
		<activity android:name="persons.citizens.activities.JoshuaActivity"></activity>
		<activity android:name="persons.citizens.Calgary"></activity>
		<activity android:name="persons.citizens.activities.CalgaryActivity"></activity>
		<activity android:name="persons.citizens.Ewan"></activity>
		<activity android:name="persons.citizens.activities.EwanActivity"></activity>
		<activity android:name="persons.citizens.Machakw"></activity>
		<activity android:name="persons.citizens.activities.MachakwActivity"></activity>
		<activity android:name="persons.citizens.Adoette"></activity>
		<activity android:name="persons.citizens.activities.AdoetteActivity"></activity>
		<activity android:name="persons.citizens.David"></activity>
		<activity android:name="persons.citizens.activities.DavidActivity"></activity>
		<activity android:name="persons.citizens.Mason"></activity>
		<activity android:name="persons.citizens.activities.MasonActivity"></activity>
		<activity android:name="persons.citizens.Christina"></activity>
		<activity android:name="persons.citizens.activities.ChristinaActivity"></activity>
		<activity android:name="persons.citizens.ChanJuan"></activity>
		<activity android:name="persons.citizens.activities.ChanJuanActivity"></activity>
		<activity android:name="persons.citizens.Andrew"></activity>
		<activity android:name="persons.citizens.activities.AndrewActivity"></activity>
		<activity android:name="persons.citizens.Emma"></activity>
		<activity android:name="persons.citizens.activities.EmmaActivity"></activity>
		<activity android:name="persons.citizens.James"></activity>
		<activity android:name="persons.citizens.activities.JamesActivity"></activity>
		<activity android:name="persons.citizens.Isabella"></activity>
		<activity android:name="persons.citizens.activities.IsabellaActivity"></activity>
		<activity android:name="persons.citizens.Ethan"></activity>
		<activity android:name="persons.citizens.activities.EthanActivity"></activity>
		<activity android:name="persons.citizens.Noah"></activity>
		<activity android:name="persons.citizens.activities.NoahActivity"></activity>
		<activity android:name="persons.citizens.Benjamin"></activity>
		<activity android:name="persons.citizens.activities.BenjaminActivity"></activity>
		<activity android:name="persons.citizens.Jackson"></activity>
		<activity android:name="persons.citizens.activities.JacksonActivity"></activity>
		<activity android:name="persons.citizens.Samantha"></activity>
		<activity android:name="persons.citizens.activities.SamanthaActivity"></activity>
		<activity android:name="persons.citizens.Amun"></activity>
		<activity android:name="persons.citizens.activities.AmunActivity"></activity>
		<activity android:name="persons.citizens.Akila"></activity>
		<activity android:name="persons.citizens.activities.AkilaActivity"></activity>
    </application>

</manifest>